.form {
  width: 660px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: start;
  padding-right: 10px;
  padding-top: 10px;
}

.photo-input,
.name-input,
.age-input,
.email-input,
.country-input,
.gender-input,
.password-input,
.confirm-password-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 10px;
  text-align: end;
  font-size: 18px;
}

input {
  font-size: 18px;
}

.gender-input-radio {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

#photo {
  width: 230px;
}

.confirm-password-input label {
  grid-row: span 2;
}

.terms-input {
  margin: 0 auto;
  padding-top: 20px;
  width: 48%;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 40px 1fr;
}

#check {
  width: 20px;
}

.terms-input .error-message {
  grid-column: span 2;
  text-align: center;
}

.submit-button {
  grid-column: span 2;
  margin: 10px auto;
}

.submit-button.disabled {
  color: rgb(81, 81, 81);
}

.submit-button.disabled:hover {
  cursor: initial;
  transition: none;
  border-color: transparent;
}

.error-message {
  font-size: 15px;
  grid-column: 2;
  min-height: 22px;
  color: rgb(189, 96, 96);
  text-align: start;
}
