@keyframes highlight {
  0% {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.777);
  }
  50% {
    box-shadow: 0 4px 12px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 4px 6px rgba(100, 108, 255, 0.63);
  }
}

.profile-tile {
  box-shadow: 0 4px 6px rgba(100, 108, 255, 0.63);
  border: 1px solid #646cff;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
  animation: highlight 2s ease;
}

.profile-tile .info {
  text-align: left;
}

.profile-tile img {
  margin: 0 auto;
}
